#imageContainer {
	height: 100%;
	box-shadow: inset 0px 0px 5px rgb(51, 51, 51);
}

#displayedImage {
	max-width: 100%;
	margin-top: 10px;
	max-height: 600px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
